@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {

    /* colors */
 --pale-blue: hsl(225, 100%, 94%);
 --bright-blue: hsl(245, 75%, 52%);
 --very-pale-blue: hsl(225, 100%, 98%);
 --desaturated-blue: hsl(224, 23%, 55%);
 --dark-blue: hsl(223, 47%, 23%);

 /* font-family*/
 --font: 'Red Hat Display', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--pale-blue) url(/orderSummary/images/pattern-background-mobile.svg) no-repeat;
}

main {
    font-size: 16px;
    font-family: var(--font);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

#main__container {
    height: 78%;
    width: 80%;
    max-width: 375px;
    border-radius: 1rem;
    background: var(--very-pale-blue);
}

.image__container {
    max-width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.image {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.text__one {
    width: 80%;
    margin: 1.8rem auto;
    text-align: center;
}

.main__header {
    color: var(--dark-blue);
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.paragraph {
    color: var(--desaturated-blue);
}

.text__two {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.plan {
    font-weight: 700;
    color: var(--dark-blue);
}

.price {
    color: var(--desaturated-blue);
    font-weight: 500;
}

.checkout__div {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.btn1 {
    color: var(--very-pale-blue);
    background: var(--bright-blue);
    border: none;
    margin-bottom: 1.5rem;
    padding: 1rem 0;
    border-radius: 0.7rem;
    font-weight: 900;
    font-size: 16px;
    cursor: pointer;
}

.btn2 {
    font-weight: 900;
    text-transform: capitalize;
    color: var(--desaturated-blue);
    border: none;
    background: none;
    border-top: 10px;
    font-size: 16px;
    cursor: pointer;
}

.btn1:hover {
    opacity: 0.4;
}

.text__two p a:hover {
    text-decoration: none;
    opacity: 0.6;
}

.btn2:hover {
    color: var(--dark-blue);
}

.attribution {
    display: flex;
}

.challenge-links {
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.challenge-links:first-of-type {
    margin-left: -5px;
}

@media (min-width: 600px) {
    body {
        background: var(--pale-blue) url(/orderSummary/images/pattern-background-desktop.svg) no-repeat;
    }
    

}
