@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    --font: 'Red Hat Display', sans-serif;
}

html {
    background: var(--pale-blue) url(images/pattern-background-desktop.svg) no-repeat;
}

main {
    width: 85%;
    height: auto;
    margin: 50px auto;
}

#main__container {
    width: 100%;
    border-radius: 10px;
    background-color: var(--very-pale-blue);
}

.image {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.text__one {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 16px;
}

.main__header {
    font-weight: 900;
    font-family: var(--font);
    text-transform: capitalize;
    color: var(--dark-blue);
    margin-bottom: 15px;
}

.paragraph {
    font-family: var(--font);
    font-weight: 700;
    margin: 0 15px;
    color: var(--desaturated-blue);
}

.text__two {
    margin: 0 30px 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.plan {
    font-weight: 700;
    color: var(--dark-blue);
    font-family: var(--font);
}

.price {
    color: var(--desaturated-blue);
    font-family: var(--font);
}

.link-one {
    color: var(--bright-blue);
    font-family: var(--font);
    font-weight: 500;
}

.link-one:hover {
    text-decoration: none;
}

.checkout__div {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 25px;
}

.btn1 {
    padding: 15px 0;
    font-weight: 700;
    color: var(--very-pale-blue);
    background: var(--bright-blue);
    border: none;
    margin-bottom: 15px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 2px 0px var(--bright-blue);
}

.btn1:hover {
    opacity: 0.75;
}

.btn2 {
    text-transform: capitalize;
    font-weight: 700;
    font-family: var(--font);
    color: var(--desaturated-blue);
    padding: 10px 0;
    border: none;
    background: none;
    font-size: 16px;
}

.btn2:hover {
    color: var(--dark-blue);
}

.attribution {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5px;
    text-transform: capitalize;
}

.attribution a {
    color: var(--desaturated-blue);
}

.attribution a:hover {
    text-decoration: none;
}

@media (min-width: 450px) {
 main {
    max-width: 375px;
 }   
}

@media (min-width: 768px) {
    html {
        background: var(--pale-blue) url(images/pattern-background-desktop.svg) no-repeat;
        background-size: contain;
    }
}
